@import "tailwindcss";

.mouseAnimation {
  animation-name: moveDown;
  animation-duration: 20s;
  animation-timeline: scroll();
  animation-fill-mode: both;
}
@keyframes moveDown {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(10n00px);
  }
}
/* styles.css */
.my-masonry-grid {
  display: flex;
  margin-left: -20px; /* gutter size */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 20px; /* gutter size */
  background-clip: padding-box;
}
.card {
  margin-bottom: 20px;
}

